.Host {
    margin: 18px;
}

.From {
    padding: 0 8px;
}

.From > :nth-child(1) {
    display    : flex;
    align-items: center;
}

.From > :nth-child(1) > :nth-child(1) {
    flex-grow: 1;
}

.Avatar {
    min-height: 140px;
    min-width : 140px;
    max-height: 140px;
    max-width : 140px;
    margin    : 18px;
}

.Footer {
    display: flex;
}