.Host {
    background-color: #fafbfd;
    margin          : 4px;
}

.Host > :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Host > :nth-child(2) {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
}

.Host > :nth-child(1) > :nth-child(1) {
    background-color: #29B6F6;
    color: white;
    border-radius: 0 2px 2px 0 ;
    padding: 0 12px;
    white-space: nowrap;
    width: min-content;
}

.Host > :nth-child(1) > hr {
    width : 100%;
    border: 1px solid #E1F5FE;
}

.ImageSelector {
    display: flex;
    height: 250px;    
}

.ImageSelector > :first-child {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.ImageSelector > :first-child > :first-child {
    border             : 1px solid #888;
    box-sizing         : border-box;
    transition         : all .3s ease-out;
    background-color   : #eee;
    border-radius      : 2px;
    cursor             : pointer;
    position           : relative;
    overflow           : hidden;
}

.ImageSelector > :first-child > :first-child > :last-child {
    padding      : 3px 8px;
    position     : absolute;
    right        : 0;
    border-radius: 2px 0 0 0;
    bottom       : 0;
    color        : white;
    background   : rgba(0,0,0,0.6);
    transition   : all .3s ease-out
}

.ImageSelector > :first-child > :first-child:hover > :last-child {
    right: -60%;
}

.ImageSelector > :nth-child(2) {
    display  : flex;
    flex-wrap: wrap;
}

.DocumentImage {
    cursor: pointer;
    border: 1px solid #ddd;
    margin: 4px;
}