.Host {
    display: flex;
    flex-direction: column;
}

.Host > :first-child {
    display: flex;
}

.Host > :nth-child(2) {
    display  : flex;
    flex-wrap: wrap;
}

.Host > :nth-child(2) > * {
    margin: 8px;
    cursor: pointer;
}
