.Host > :first-child {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 0 auto;
    max-width      : 820px;
    width          : 820px;
}

.Host > :first-child > :first-child {
    flex-grow: 1;
    margin   : 18px;
    width    : 70%;
    max-width: 70%;
}

.Host > :first-child > :nth-child(2) {
    height     : 140px;
    width      : 140px;
    min-height : 140px;
    min-width  : 140px;
    max-height : 140px;
    max-width  : 140px;
    margin     : 18px;
}

@media (max-width: 767px) {
    .Host > :first-child {
        flex-direction: column;
    }
    .Host > :first-child > :first-child {
        order: 2;
    }
    .Host > :first-child > :nth-child(2) {
        order: 1;
    }
}

